h1 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 1px solid;
}

form {
    display: inline;
    margin-top: 15px;
}

nav {
    text-align: center;
}